doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' href='style.css')
    title #{title}

    if currency == "ETHO"
      link(rel="apple-touch-icon" sizes="57x57" href="/images/ether1/favicon/apple-icon-57x57.png")
      link(rel="apple-touch-icon" sizes="60x60" href="/images/ether1/favicon/apple-icon-60x60.png")
      link(rel="apple-touch-icon" sizes="72x72" href="/images/ether1/favicon/apple-icon-72x72.png")
      link(rel="apple-touch-icon" sizes="76x76" href="/images/ether1/favicon/apple-icon-76x76.png")
      link(rel="apple-touch-icon" sizes="114x114" href="/images/ether1/favicon/apple-icon-114x114.png")
      link(rel="apple-touch-icon" sizes="120x120" href="/images/ether1/favicon/apple-icon-120x120.png")
      link(rel="apple-touch-icon" sizes="144x144" href="/images/ether1/favicon/apple-icon-144x144.png")
      link(rel="apple-touch-icon" sizes="152x152" href="/images/ether1/favicon/apple-icon-152x152.png")
      link(rel="apple-touch-icon" sizes="180x180" href="/images/ether1/favicon/apple-icon-180x180.png")
      link(rel="icon" type="image/png" sizes="192x192" href="/images/ether1/favicon/android-icon-192x192.png")
      link(rel="icon" type="image/png" sizes="32x32" href="/images/ether1/favicon/favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="96x96" href="/images/ether1/favicon/favicon-96x96.png")
      link(rel="icon" type="image/png" sizes="16x16" href="/images/ether1/favicon/favicon-16x16.png")
      link(rel="manifest" href="/manifest.json")
      meta(name="msapplication-TileColor" content="#ffffff")
      meta(name="msapplication-TileImage" content="/images/ether1/favicon/ms-icon-144x144.png")
      meta(name="theme-color" content="#ffffff")

      meta(name='description', content='Ether1 play - Play with Ether-1.')
      meta(name='keywords', content='Crypto currency, gaming, ETHO, Ether-1')
      meta(property='og:title', content='Ether1 play - Play with Ether-1, it is about the game')
      meta(property='og:description', content='Portal for gamers')
      meta(property='og:image', content='https://play.ether1.org/images/ether1/play_ether.png')
      meta(property='og:url', content='https://play.ether1.org')
      meta(name='twitter:card', content='https://play.ether1.org/images/ether1/play_ether.png')
      // Non-Essential, But Recommended
      meta(property='og:site_name', content='Ether-1 play')
      meta(name='twitter:image:alt', content='Ether-1 play - Gaming using the Ether-1 blockchain')

    else
      link(rel="apple-touch-icon" sizes="57x57" href="/images/ath/favicon/apple-icon-57x57.png")
      link(rel="apple-touch-icon" sizes="60x60" href="/images/ath/favicon/apple-icon-60x60.png")
      link(rel="apple-touch-icon" sizes="72x72" href="/images/ath/favicon/apple-icon-72x72.png")
      link(rel="apple-touch-icon" sizes="76x76" href="/images/ath/favicon/apple-icon-76x76.png")
      link(rel="apple-touch-icon" sizes="114x114" href="/images/ath/favicon/apple-icon-114x114.png")
      link(rel="apple-touch-icon" sizes="120x120" href="/images/ath/favicon/apple-icon-120x120.png")
      link(rel="apple-touch-icon" sizes="144x144" href="/images/ath/favicon/apple-icon-144x144.png")
      link(rel="apple-touch-icon" sizes="152x152" href="/images/ath/favicon/apple-icon-152x152.png")
      link(rel="apple-touch-icon" sizes="180x180" href="/images/ath/favicon/apple-icon-180x180.png")
      link(rel="icon" type="image/png" sizes="192x192" href="/images/ath/favicon/android-icon-192x192.png")
      link(rel="icon" type="image/png" sizes="32x32" href="/images/ath/favicon/favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="96x96" href="/images/ath/favicon/favicon-96x96.png")
      link(rel="icon" type="image/png" sizes="16x16" href="/images/ath/favicon/favicon-16x16.png")
      link(rel="manifest" href="/manifest.json")
      meta(name="msapplication-TileColor" content="#ffffff")
      meta(name="msapplication-TileImage" content="/images/ath/favicon/ms-icon-144x144.png")
      meta(name="theme-color" content="#ffffff")

      meta(name='description', content='Atheios play - Play with Atheios.')
      meta(name='keywords', content='Crypto currency, gaming, ath, atheios')
      meta(property='og:title', content='Atheios play - Play with Atheios, it is about the game')
      meta(property='og:description', content='Portal for gamers')
      meta(property='og:image', content='https://play.atheios.org/images/ath_60x60.png')
      meta(property='og:url', content='https://play.atheios.org')
      meta(name='twitter:card', content='https://play.atheios.org/images/ath_60x60.png')
      // Non-Essential, But Recommended
      meta(property='og:site_name', content='Atheios play')
      meta(name='twitter:image:alt', content='Atheios play - Gaming using the Atheios blockchain')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&amp;subset=cyrillic" rel="stylesheet")

    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom Fonts
    // link(href='vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='vendor/simple-line-icons/css/simple-line-icons.css', rel='stylesheet')
    // Custom CSS
    if currency == "ATH"
      link(href='css/stylish-portfolio.min.css', rel='stylesheet')
    else
      link(href='css/ether1-stylish-portfolio.css', rel='stylesheet')
    script(defer="" src="/js/brands.js")
    script(defer="" src="/js/fontawesome.js")

body
  .kpicss_bg-img
    nav.navbar.navbar-expand-lg.navbar-dark
      a.navbar-brand(href='/').text-light
        if currency == "ETHO"
            img(src='images/ether1/play_ether.png',width=120, alt='Ether1 Play - Join the game').align-middle
            a.h5.nav-link(href='/').text-light.align-baseline
              | ETHER1 Play | #{version}
        else
          img(src='images/play_white.png',width=120, alt='Atheios Play - Join the game').align-middle
          p.align-items-center.text-white Atheios Play | #{version}
          a.navbar-brand.align-items-center(href='http://bugs.atheios.org:8080/enter_bug.cgi?product=Play', target="_blank").text-light.align-middle
            i.fab.fa-bug.mr-1.w-4.text-white(aria-hidden="true")
            | Found a bug? Report it

      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.nav.navbar-nav.ml-auto
          li.nav-item.active.text-light
            a.h5.nav-link(href='/').text-light
              | Home
              span.sr-only (current)
          li.nav-item.dropdown
            if !user
              a#navbarDropdown.h5.nav-link.text-light.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Account
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href='/register') Register
                a.dropdown-item(href='/login') Login
            else
              a#navbarDropdown.h5.nav-link.text-light.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | #{user.username}
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href='/gameplay') Game play
                a.dropdown-item(href='/funds') Funds ATH
                a.dropdown-item(href='/fundsetho') Funds ETHO
                a.dropdown-item(href='/account') Account
                a.dropdown-item(href='/logout') Logout




          li.nav-item.dropdown
            if currency == "ETHO"
              a#navbarDropdown.h5.nav-link.text-light.dropdown-toggle(href='/', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Ether1 links
              .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdown')
                a.dropdown-item.disabled(href='https://play.ether1.org') Ether1 gaming portal
                  a.dropdown-item(href='/whatsnew') What is new
                  a.dropdown-item(href='/stats') Statistics
                  a.dropdown-item(href='/contact') Contact
                .dropdown-divider
                a.dropdown-item(href='https://www.ether1.org') Ether1 website
                a.dropdown-item(href='https://explorer.ether1.org') Ether1 explorer
                a.dropdown-item(href='https://portal.ether1.org') Ether1 Game Developer Portal

            else
              a#navbarDropdown.h5.nav-link.text-light.dropdown-toggle(href='/', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Atheios links
              .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdown')
                a.dropdown-item.disabled(href='https://play.atheios.org') Atheios gamer portal
                  a.dropdown-item(href='/whatsnew') What is new
                  a.dropdown-item(href='/stats') Statistics
                  a.dropdown-item(href='/contact') Contact
                .dropdown-divider
                a.dropdown-item(href='https://www.atheios.org') Atheios website
                a.dropdown-item(href='https://explorer.atheios.org') Atheios explorer
                a.dropdown-item(href='https://stats.atheios.org') Atheios statistics
                a.dropdown-item(href='https://api.atheios.org') Atheios API
                a.dropdown-item(href='https://portal.atheios.org') Atheios Portal
                a.dropdown-item(href='https://docs.atheios.org') Atheios documentation
                a.dropdown-item(href='https://shop.spreadshirt.se/atheios-store') Atheios fan shop

                .dropdown-divider
                a.dropdown-item(href='https://bloxxchain.atheios.org') Bloxxchain


  .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
  .container
  block content
  p
.container-fluid.bg-dark
  footer
    .row
      .col-sm.m-5
        .font-semibold.text-sm.mb-3
          .text-xs.row
            if currency == "ETHO"
              h5.text-light About Ether-1
              p.text-light Ether-1 is a crypto currency dedicated decentralization. The crypto currency is community developed and is aiming to build a vast ecosystem. We believe that only an open-sourced, community driven chain can get wider and cross project adoption. Join the game changer.
            else
              h5.text-light About Atheios
              p.text-light Atheios is a crypto currency dedicated for gaming. The crypto currency is community developed and is aiming to build a vast ecosystem. We believe that only an open-sourced, community driven chain can get wider and cross project adoption. Join the game changer.
            p.text-light Track us on
            br
          img(src='images/blockfolio.png')
      .col-sm.m-5
        .font-semibold.text-sm.mb-3
          .text-xs.row
            h5.text-light About this site
            p.text-light This site is a portal of supported games. If You want to support this site Your can pledge any amount to the below addresses:
            p
              .text-warning.text-break
                i.fab.fa-btc.mr-1.w-4(aria-hidden="true")
                | BTC 1JCivbdLbvBAE1JK3K2tCfrVFA5A3WoCbc
              .text-warning.text-break
                i.fab.fa-ethereum.mr-1.w-4(aria-hidden="true")
                | ETH 0x6b23806BF3eE2cCc31eCc224221861F03B48D55F

      .col-sm.m-5
        .font-semibold.text-sm.mb-3
          .text-xs.row
            h5.text-light Follow us
            p.text-light Follow us on the following social assets
            p
            if currency == "ETHO"
              ul
                li
                  i.fab.fa-twitter.mr-1.w-4.text-white(aria-hidden="true")
                  a.text-muted(href="https://twitter.com/Ether1Official" target="_blank")
                    | Twitter
                li
                  i.fab.fa-telegram.mr-1.w-4.text-white(aria-hidden="true")
                  a.text-muted(href="https://t.me/Ether_1" target="_blank")
                    | Telegram Official
                li
                  a.text-muted(href="https://discord.gg/RA4AZx9" target="_blank")
                    i.fab.fa-discord.mr-1.w-4.text-white(aria-hidden="true")
                    | Discord
                li
                  a.text-muted(href="https://medium.com/@Ether1Official" target="_blank")
                    i.fab.fa-medium.mr-1.w-4.text-white(aria-hidden="true")
                    | Medium
                li
                  a.text-muted(href="https://bitcointalk.org/index.php?topic=3725742.0" target="_blank")
                    i.fab.fa-btc.mr-1.w-4.text-white(aria-hidden="true")
                    | BitcoinTalk
                li
                  a.text-muted(href="https://www.reddit.com/r/etho1" target="_blank")
                    i.fab.fa-reddit.mr-1.w-4.text-white(aria-hidden="true")
                    | Reddit
            else
              ul
                li
                  a.text-muted(href="https://twitter.com/atheiosofficial" target="_blank")
                    i.fab.fa-twitter.mr-1.w-4.text-white(aria-hidden="true")
                    | Twitter
                li
                  a.text-muted(href="https://t.me/atheiosoffical" target="_blank")
                    i.fab.fa-telegram.mr-1.w-4.text-white(aria-hidden="true")
                    | Telegram Official
                li
                  a.text-muted(href="https://t.me/atheioschain" target="_blank")
                    i.fab.fa-telegram.mr-1.w-4.text-white(aria-hidden="true")
                    | Telegram News
                li
                  a.text-muted(href="https://discord.gg/SdCUQUu" target="_blank")
                    i.fab.fa-discord.mr-1.w-4.text-white(aria-hidden="true")
                    | Discord
                li
                  a.text-muted(href="https://medium.com/@atheiosteam" target="_blank")
                    i.fab.fa-medium.mr-1.w-4.text-white(aria-hidden="true")
                    | Medium
                li
                  a.text-muted(href="https://bitcointalk.org/index.php?topic=3444373.0" target="_blank")
                    i.fab.fa-btc.mr-1.w-4.text-white(aria-hidden="true")
                    | BitcoinTalk
                li
                  a.text-muted(href="https://www.reddit.com/r/Atheios/®" target="_blank")
                    i.fab.fa-reddit.mr-1.w-4.text-white(aria-hidden="true")
                    | Reddit


    .row
      if currency == "ETHO"
        p.text-sm-center.small COPYRIGHT &copy; 2020 BY Ether-1. ALL RIGHTS RESERVED.
      else
        p.text-sm-center.small COPYRIGHT &copy; 2020 BY Atheios. ALL RIGHTS RESERVED.
  // Bootstrap core JavaScript
  script(src='vendor/jquery/jquery.min.js')
  script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
  // Plugin JavaScript
  script(src='vendor/jquery-easing/jquery.easing.min.js')
  // Custom scripts for this template
  script(src='js/stylish-portfolio.min.js')
